USE [TransmobilDB]
GO
/****** Object:  Table [dbo].[Cars]    Script Date: 1/26/2022 8:53:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cars](
	[IdCar] [int] IDENTITY(1,1) NOT NULL,
	[AutomobileNumber] [nvarchar](13) NOT NULL,
	[Brand] [nvarchar](20) NOT NULL,
	[Model] [nvarchar](20) NOT NULL,
	[CostPerKm] [decimal](18, 6) NOT NULL,
	[IdCategory] [int] NULL,
 CONSTRAINT [PK__Koli__617AB8615B420322] PRIMARY KEY CLUSTERED 
(
	[IdCar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 1/26/2022 8:53:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[IdCategory] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
	[RentPerDay] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contracts]    Script Date: 1/26/2022 8:53:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contracts](
	[IdContract] [int] IDENTITY(1,1) NOT NULL,
	[IdRenter] [int] NULL,
	[IdCar] [int] NULL,
	[RentDate] [datetime] NOT NULL,
	[ReturnDate] [datetime] NOT NULL,
	[RentMileage] [int] NOT NULL,
	[ReturnMileage] [int] NOT NULL,
	[MoneyInAdvance] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdContract] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Renters]    Script Date: 1/26/2022 8:53:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Renters](
	[IdRenter] [int] IDENTITY(1,1) NOT NULL,
	[RenterName] [nvarchar](50) NOT NULL,
	[RenterAddress] [nvarchar](100) NOT NULL,
	[IsCompany] [bit] NOT NULL,
	[Phone] [nvarchar](13) NOT NULL,
 CONSTRAINT [PK__Naematel__5C4872351378BC08] PRIMARY KEY CLUSTERED 
(
	[IdRenter] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cars] ON 

INSERT [dbo].[Cars] ([IdCar], [AutomobileNumber], [Brand], [Model], [CostPerKm], [IdCategory]) VALUES (1, N'СА 3456 СХ', N'Мерцедес', N'S - 300 Long', CAST(0.070000 AS Decimal(18, 6)), 1)
INSERT [dbo].[Cars] ([IdCar], [AutomobileNumber], [Brand], [Model], [CostPerKm], [IdCategory]) VALUES (2, N'СА 1783 ВА', N'Фолксваген', N'Пасат', CAST(0.045000 AS Decimal(18, 6)), 2)
INSERT [dbo].[Cars] ([IdCar], [AutomobileNumber], [Brand], [Model], [CostPerKm], [IdCategory]) VALUES (3, N'В 1222 АВ', N'Форд', N'Мондео', CAST(0.050000 AS Decimal(18, 6)), 2)
SET IDENTITY_INSERT [dbo].[Cars] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([IdCategory], [Name], [RentPerDay]) VALUES (1, N'Лимузина', 100)
INSERT [dbo].[Categories] ([IdCategory], [Name], [RentPerDay]) VALUES (2, N'Комби', 35)
INSERT [dbo].[Categories] ([IdCategory], [Name], [RentPerDay]) VALUES (3, N'Лека кола', 25)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Contracts] ON 

INSERT [dbo].[Contracts] ([IdContract], [IdRenter], [IdCar], [RentDate], [ReturnDate], [RentMileage], [ReturnMileage], [MoneyInAdvance]) VALUES (1, 7, 1, CAST(N'2021-01-13T00:00:00.000' AS DateTime), CAST(N'2021-01-15T00:00:00.000' AS DateTime), 17340, 18050, 200)
INSERT [dbo].[Contracts] ([IdContract], [IdRenter], [IdCar], [RentDate], [ReturnDate], [RentMileage], [ReturnMileage], [MoneyInAdvance]) VALUES (2, 10, 2, CAST(N'2021-01-16T00:00:00.000' AS DateTime), CAST(N'2021-01-23T00:00:00.000' AS DateTime), 20108, 22430, 250)
INSERT [dbo].[Contracts] ([IdContract], [IdRenter], [IdCar], [RentDate], [ReturnDate], [RentMileage], [ReturnMileage], [MoneyInAdvance]) VALUES (3, 9, 3, CAST(N'2021-01-24T00:00:00.000' AS DateTime), CAST(N'2021-02-02T00:00:00.000' AS DateTime), 55463, 57234, 300)
SET IDENTITY_INSERT [dbo].[Contracts] OFF
GO
INSERT [dbo].[Renters] ([IdRenter], [RenterName], [RenterAddress], [IsCompany], [Phone]) VALUES (1, N'Галена Малинова', N'Разград, ул. "Лудогорец" № 10', 0, N'0899101101')
INSERT [dbo].[Renters] ([IdRenter], [RenterName], [RenterAddress], [IsCompany], [Phone]) VALUES (2, N'Дафка Екатериновска', N'Чепеларе, ул. "Васил Левски" № 11', 0, N'0893203040')
INSERT [dbo].[Renters] ([IdRenter], [RenterName], [RenterAddress], [IsCompany], [Phone]) VALUES (3, N'Иванка Лилиева', N'Кубрат, ул. "Княз Борис" № 1 Б', 0, N'0876000111')
GO
ALTER TABLE [dbo].[Renters] ADD  CONSTRAINT [DF__Naemateli__Firma__24927208]  DEFAULT ((1)) FOR [IsCompany]
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD FOREIGN KEY([IdCategory])
REFERENCES [dbo].[Categories] ([IdCategory])
GO
ALTER TABLE [dbo].[Contracts]  WITH CHECK ADD FOREIGN KEY([IdCar])
REFERENCES [dbo].[Cars] ([IdCar])
GO
ALTER TABLE [dbo].[Contracts]  WITH CHECK ADD  CONSTRAINT [FK__Dogovori__IdNaem__2C3393D0] FOREIGN KEY([IdRenter])
REFERENCES [dbo].[Renters] ([IdRenter])
GO
ALTER TABLE [dbo].[Contracts] CHECK CONSTRAINT [FK__Dogovori__IdNaem__2C3393D0]
GO
